<div class="card-comment">
  <%= link_to user_path(comment.user) do %>
    <%= cl_image_tag comment.user.photo.key, class: "picture-comment" %>
  <% end %>

  <%= link_to comment.user.name, user_path(comment.user), class: "comment-name" %>
  <p class="comment-content"><%= comment.content %></p>
  <small class="comment-date"><%= time_ago_in_words(comment.created_at) %> ago</small>
</div>
