<nav>
  <ul>
    <% if user_signed_in? %>
      <li class="logout">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
  </ul>
</nav>
<div>
  <%= cl_image_tag @user.photo.key %>
  <h1><%= @user.name || "Mr Nobody" %></h1>
  <%= @user.age%>
  <p><strong>About me</strong></p>
  <%= @user.bio%>
  <% if user_signed_in? && current_user == @user %>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Chat", chats_path(user_id: @user.id), class: "btn btn-info" %>
  <% end %>
</div>
<div>
  <p><strong>Going to / Organizing</strong></p>
   <p>Organizing</p>
  <% @user.organized_activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <%= cl_image_tag activity.photos.first.key, class: "img-fluid" %>
        <h3><%= activity.title %></h3>
        <p><%= activity.time.strftime('%a, %b %e • %R') %></p>
        <p><%= activity.location %></p>
        <p><%= activity.description %></p>
        <p><%= activity.user.name %></p>
      <% end %>
  <% end %>
  <p>_____________________________________</p>
  <p>Going to</p>
  <% @user.attending_activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <%= cl_image_tag activity.photos.first.key, class: "img-fluid" %>
        <h3><%= activity.title %></h3>
        <p><%= activity.time.strftime('%A, %B %e, %Y at %l:%M %p') %></p>
        <p><%= activity.location %></p>
        <p><%= activity.description %></p>
        <p><%= activity.user.name %></p>
      <% end %>
  <% end %>
</div>
