<h3 class="title-edit">Create an Activity:</h3>

<div data-controller="edit-activity">

    <%= simple_form_for @activity, data: { controller: 'flatpickr' } do |f| %>
      <%= f.input :title, input_html: { class: 'special' } %>
      <%= f.input :description, as: :text %>
      <%= f.input :location, wrapper_html: {class: 'inputter'} %>
      <%= f.input :time, as: :string, placeholder: "Select your date", label: false, class: "flatpickwedfs", input_html: { data: { flatpickr_target: "time" } } %>
      <% if f.object.new_record? %>
        <%= f.input :photos, as: :file, input_html: {multiple: true} %>
      <% end %>
      <%= f.submit class: '' %>
    <% end  %>


</div>
