<div id="activity-form">

  <% if action_name == "new" %>
    <h3 class="title-edit">Create an Activity</h3>
  <% else %>
    <h3 class="title-edit">Update an Activity</h3>
  <% end %>



  <div data-controller="edit-activity">

      <%= simple_form_for @activity, data: { controller: 'flatpickr' } do |f| %>
        <%= f.input :title, label: false, input_html: { class: 'special', placeholder: "Activity title" } %>
        <%= f.input :description, as: :text, label: false, input_html: { placeholder: "Activity description (min 30 characters)...", rows: "5"} %>
         <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value=<%= ENV["MAPBOX_API_KEY"] %>>
          <% if action_name == "new" %>
            <%= f.input :location, label: false,
              input_html: {data: {address_autocomplete_target: "address"}, class: "d-none", placeholder: "Location"}
            %>
          <% else %>
            <%= f.input :location, label: false,
              input_html: {data: {address_autocomplete_target: "address"}, class: "d-none", placeholder: "Location"},
              wrapper_html: {data: {address_autocomplete_location_value: @activity.location}}
            %>
          <% end %>
          <%= f.input :longitude, label: false,
            input_html: {data: {address_autocomplete_target: "longitude"}, class: "d-none"}
            %>
            <%= f.input :latitude, label: false,
            input_html: {data: {address_autocomplete_target: "latitude"}, class: "d-none"}
            %>
         </div>
        <%= f.input :time, as: :string, label: false, placeholder: "Select your date", input_html: { data: { flatpickr_target: "time" } } %>
        <div class="container" data-controller="photo-preview">
          <%= f.input :photos, as: :file, input_html: {id: 'photo-input', class: "d-none", multiple: true}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo', class: "form-control", id: "customFile" %>
            <%= image_tag "", width: 150, class: "hidden", data: { photo_preview_target: "preview"}   %>
          <% unless f.object.new_record? %>
            <p>Pictures already uploaded</p>
              <% @activity.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, class: "picture-preview"  %>
              <% end %>
          <% end %>
        </div>
        <%= f.submit class: 'button-rectangle-orange-create' %>
      <% end  %>
  </div>
</div>
