<% activity_title = activity.title.gsub(" ", "-") %>
<%= link_to activity_path(activity) do %>
  <div class="details-box" id="<%= activity_title %>" data-map-index-target="card" data-lat="<%= activity.latitude %>" data-lng="<%= activity.longitude %>">
    <%= cl_image_tag activity.photos.first.key, crop: :fill, class: "card-map-picture" %>
    <div class= "description-map">
      <h6 id="<%= activity_title %>" class= "title"><%= activity.title %></h6>
      <p class="date"><%= activity.time.strftime('%a, %b %e | %R') %></p>
    </div>
  </div>
<% end %>
