  <div class="container">
    <div class="row g-4 mt-4 flex-column" >
    <h4> <%= @activities.count %> activities</h4>
      <% @activities.each do |activity| %>
        <div class="col m-2 border">
            <%= cl_image_tag activity.photos.first.key, crop: :fill, class: "card-img-top" %>
              <div class="card profile-card-5">
                <div class="card-body pt-0">
                  <%= link_to activity, class: "text-decoration-none" do %>
                  <h5 ><%= activity.title %></h5>
                  <% end %>
                  <p>Location: <%= activity.location %></p>
                  <p>Date: <%= activity.date %></p>
                  <p>Profile pic: </p>
                  <%= cl_image_tag activity.user.photo.key %>
                </div>
              </div>
            </div>
      <% end %>
    </div>
  </div>
