<div id="activities-index">
  <%# <form action="#" method="GET" class="search-form">
    <input type="search" class="search-term" placeholder="Search for location or activity">
    <a class="button-search" href="#"><i class="fa-solid fa-magnifying-glass"></i>Search</a>
  </form> %>

  <h4 class="activities-count"><%= @activities.count %> activities</h4>
  <% @activities.each do |activity| %>
      <%= link_to activity do %>
        <div class="card-index">
          <%= cl_image_tag activity.photos.first.key, crop: :fill, class: "card-index-picture" %>
          <div class= "description-index">
            <h5 class= "title"><%= activity.title %></h5>
            <p class="date"><%= activity.time.strftime('%a, %b %e • %R') %></p>
          </div>
        </div>
      <% end %>
  <% end %>
  <div class="map_view">
    <%= link_to map_activities_path, class: "button_map_view" do %>
          <i class="fa-regular fa-pen-to-square"></i> Map View
    <% end %>
  </div>
</div>
