<div class="map_backgr"
  data-controller="map-index"
  data-map-index-markers-value="<%= @markers.to_json %>"
  data-map-index-info-value="<%= @activity_info.to_json %>"
  data-map-index-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
>
  <div data-map-index-target="box" class="box-container">
    <% @activities.each do |activity| %>
      <%= render "info_window", activity: activity %>
    <% end %>
  </div>
</div>
<div class="map_view mt-3">
    <%= link_to activities_path, class: "button-map-view" do %>
          <i class="fa-solid fa-list"></i> List View
    <% end %>
  </div>
