<div class="map_backgr"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-info-value="<%= @activity_info.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
>
  <div data-map-target="box" class="box-container">
    <% @activities.each do |activity| %>
      <%= render "info_window", activity: activity %>
    <% end %>
  </div>
</div>
<div class="map_view mt-3 bg-primary">
    <%= link_to activities_path, class: "button_map_view" do %>
          <i class="fa-solid fa-list"></i> List View
    <% end %>
  </div>
