<h3><%= @activity.title %></h3>
<%= cl_image_tag @activity.photos.first.key %>
<p><strong>Location: </strong><%=@activity.location %></p>
<%= @activity.date %>
<p><strong>What we'll be doing:</strong></p>
<%= @activity.description %>
