<div>
  <div>
    <div>
      <%= cl_image_tag @activity.user.photo.key %>
      <%= cl_image_tag @activity.photos.first.key%>
    </div>
    <div>
      <div>
        <h3 class="mt-3"><%= @activity.title %></h3>
        <% if @already_booked == true %>
          <%= link_to "Joined!", activity_booking_path(@activity, @booking), data: { turbo_method: :delete }, class: "btn btn-secondary" %>
        <% else %>
          <h3><strong><%= link_to "Join", activity_bookings_path(@activity), data: {turbo_method: :post}, class: "btn btn-primary" %></strong></h3>
        <% end %>
      </div>
      <div>
        <p><strong>Date: </strong><%= @activity.time.strftime('%A, %B %e, %Y at %l:%M %p') %></p>
      </div>
      <div>
        <p><strong>Location: </strong><%=@activity.location %></p>
      </div>
      <div>
        <p><strong>Details:</strong></p>
        <p><%= @activity.description %></p>
       </div>
      <% if @activity.bookings.any? %>
        <div>
          <p><strong>Who's going:</strong></p>
          <% @activity.attendees.each do |attendee| %>
            <%= cl_image_tag attendee.photo.key, width: 50, height: 50, class: "rounded-circle mr-2" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
