<div id="activities-show">
  <div class= "pictures">
    <%= cl_image_tag @activity.photos.first.key, class: "card-show-picture"%>
    <%= link_to user_path(@activity.user) do %>
      <%= cl_image_tag @activity.user.photo.key, class: "card-index-profile" %>
    <% end %>
  </div>
  <div>
    <div class= "description-index">
      <h3 class="title"><%= @activity.title %></h3>
      <div>
        <p class="date"><%= @activity.time.strftime('%a, %b %e • %R') %></p>
      </div>
      <div class=" d-flex justify-content-between align-items-center mt-2">

       <i
          class="sharing_i fas fa-share-alt"
          data-controller="share-api"
          data-action="click->share-api#share"
          data-share-api-title-value="<%= @activity.title %>"
          data-share-api-url-value="<%= activity_url(@activity) %>"
          data-share-api-description-value="<%= @activity.description %>"
        >
        </i>
      <div class="btn-join">
        <% if @already_booked == true %>
          <%= link_to "Joined!", activity_booking_path(@activity, @booking), data: { turbo_method: :delete }, class: "button-joined" %>
        <% else %>
          <%= link_to "Join", activity_bookings_path(@activity), data: {turbo_method: :post}, class: "button-join ms-auto" %>
        <% end %>
      </div>

      </div>

    </div>
    <div>
      <p class="details">Details</p>
      <p class="description"><%= @activity.description %></p>
    </div>

    <% if @activity.bookings.any? %>
      <div class="participants">
        <div>
          <p class="details">Who's going (<%= @activity.attendees.size %>)</p>
            <% @activity.attendees.each do |attendee| %>
              <%= link_to user_path(attendee), class: "card-index-going" do %>
                <% if attendee.photo.attached? %>
                  <%= cl_image_tag attendee.photo.key, width: 50, height: 50, class: "card-index-going" %>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/dzjv9xjxw/image/upload/v1593640008/placeholder-profile-picture-973460_1280_ukqjxu.png", width: 50, height: 50, class: "card-index-profile rounded-circle" %>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="mb-2">
      <p class="details mb-0">Location</p>
      <%=@activity.location %>
    </div>
  </div>
  <div class="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <% if @activity.user == current_user %>
    <div class="edit_delete">
      <%= link_to "Edit |", edit_activity_path(@activity), class: "link-edit" %>
      <%= link_to "Delete", activity_path(@activity), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "link-delete" %>
    </div>
  <% end %>
  <p class="mt-4 mb-1">Comments</p>
  <%= simple_form_for [@activity, @comment] do |f| %>
    <div class="form-group">
      <%= f.input :content, label:false, placeholder: "Leave a comment", input_html: {class: 'form-comment'} %>
    </div>
    <%= f.submit 'Submit', class: 'button-submit' %>
  <% end %>
  <% if @activity.comments.any? %>
    <% @activity.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  <% end %>
</div>
